@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.contactSection {
  padding: 80px 0;
  text-align: center;
}

.container {
  @include container;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.pink { background: $pink; }
  &.blue { background: $blue; }
  &.blue-dark { background: darken($blue, 10%); }
}

.placeholderIcon {
  width: 24px;
  height: 24px;
}

.value {
  @include heading-font;
  font-size: $h5-size;
  color: hsla(28, 44%, 48%, 0.5); // Warm taupe/sand with opacity

  @include mobile {
    font-size: 24px;
  }
}
