@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.contactSection {
  padding: 80px 0;
}

.container {
  @include container;
  display: flex;
  justify-content: center;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  @include heading-font;
  font-size: clamp(28px, 4.5vw, 56px);
  line-height: 1;

  @include mobile {
    font-size: clamp(20px, 6vw, 32px);
  }
}
