@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.contactSection {
  padding: 100px 0;
}

.container {
  @include container;
  display: flex;
  justify-content: center;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  @include heading-font;
  font-size: 56px;
  line-height: 1;

  @include mobile {
    font-size: 24px;
  }
}
