@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero {
  background: $salmon;
  padding: 200px 0 100px;

  @include mobile {
    padding: 120px 0 40px;
  }
}

.container {
  @include container;
}

.heroContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.title {
  @include heading-font;
  font-size: 240px;
  line-height: 0.9;
  color: $brown;

  @include mobile {
    font-size: 56px;
  }
}

.portrait {
  width: 320px;
  height: 420px;
  background: #fff;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: -60px;

  @include mobile {
    width: 240px;
    height: 300px;
  }
}

.photoPlaceholder {
  width: 100%;
  height: 100%;
  background: #dbdbdb;
  /* Add real image as background-image in real use-case */
}

.bioGrid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 80px;
  padding: 80px 0;
  position: relative;

  @include mobile {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px 0;
  }
}

.bio {
  @include body-font;
  font-size: $p3-size;
  line-height: 1.7;
  max-width: 90%;

  p { margin-bottom: 32px; }
}

.decorFlower {
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: 0;

  @include mobile {
    width: 70px;
    height: 70px;
    bottom: -10px;
    right: 0;
  }
}

.sideLists {
  display: flex;
  gap: 60px;
}

.listSection {
  h3 {
    @include body-font;
    font-size: 14px;
    color: hsla(0, 0%, 0%, 0.4);
    letter-spacing: 0.15em;
    margin-bottom: 12px;
  }

  ul {
    @include body-font;
    font-size: 18px;
    color: $black;
    line-height: 2.2;
  }
}

.experience {
  background: #fff8ec;
  padding: 80px 0;
}

.expTitle {
  @include heading-font;
  font-size: 100px;
  font-style: italic;
  font-weight: 700;
  color: hsla(28, 74%, 48%, 1);
  margin-bottom: 40px;

  @include mobile {
    font-size: 48px;
  }
}

.expTable {
  display: flex;
  flex-direction: column;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background: #f5d0b8;
  @include body-font;
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.6);
  letter-spacing: 0.1em;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  padding: 28px 24px;
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.2);
  @include body-font;
  font-size: 18px;
}

.rightAlign {
  text-align: right;
  flex: 1;
}

.tableRow span, .tableHeader span {
  flex: 1;
}
