// Colors
$black0: #000000;
$black100: #1E1E1E;
$green0: #ADF2AD;
$blue100: #DAE8FF;
$blue200: #9DB9FE;
$blue300: #789EFD;
$blue400: #2B303B;
$blue0: #4967A1;
$red0: #FF6969;
$red100: #F59393;
$red200: #F2ADAD;
$brown: #502A08;
$white0: #ffffff;
$white100: #EBEBEB;
$white200: #FFFFFF;
$white300: #FDF9F6;
$yellow0: #FFFF00;
$yellow100: #E6C17D;
$yellow200: #E4B04D;
$yellow300: #F2DAAD;
$yellow400: #F2BFAD;
$yellow500: #FBF9EA;

// Typography
$font-heading: 'Unageo', 'Inter', sans-serif;
$font-body: 'Manrope', 'Helvetica Neue', sans-serif;

// Breakpoints
$breakpoint-mobile: 960px;

// Layout
$max-content-width: 1440px;
$padding-horizontal: 40px;
$padding-horizontal-mobile: 16px;
