.page {
    background-color: $white0;
}

.hero {
    display: flex;
    align-items: flex-end;
    height: 230px;

    @include mobile {
        height: 150px;
        padding-bottom: 32px;
    }

    > .container {
        width: 100%;
    }
}

.heroContainer {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    gap: 12px;

    @include mobile {
        padding: 0;
    }
}

.heroName {
    @include h3;
    display: flex;
    gap: 32px;
    color: $brown;

    @include mobile {
        font-size: 40px;
        gap: 8px;
    }
}

.heroSubtitle {
    @include p4;
}

.grid {
    background-color: $yellow500;
}

.gridInner {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding-top: 40px;
    padding-bottom: 80px;

    @include mobile {
        grid-template-columns: 1fr;
        gap: 16px;
        padding-top: 32px;
        padding-bottom: 0;
    }
}

.container {
    @include container;
}

.ctaBanner {
    background-color: $yellow500;
}

.ctaBannerInner {
    @include container;
    padding-bottom: 40px;

    @include mobile {
        padding-bottom: 32px;
        padding-top: 32px;
    }
}

.ctaLink {
    @include h3;
    background: #ADC1F2;
    text-align: center;
    color: $white0;
    border-radius: 50px;
    padding: 80px 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        @include h5;
        padding: 32px;
        border-radius: 30px;
    }
}

.about {
    padding: 160px 0;

    @include mobile {
        padding: 64px 0;
    }
}

.aboutInner {
    @include container;
}

.momentsLabel {
    @include h5;
}

.momentsContent {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 720px;
}

.momentsText {
    @include p2;

    @include mobile {
        @include p4;
    }
}

.momentsMore {
    @include p4;
    font-weight: 700;
}
