@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.page {
  background-color: $white;
}

.hero {
  padding-top: 160px;
  padding-bottom: 40px;

  @include mobile {
    padding-top: 80px;
    padding-bottom: 24px;
  }
}

.heroContainer {
  @include container;
}

.heroName {
  @include heading-font;
  font-size: 160px;
  font-weight: 700;
  line-height: 0.9;
  color: $brown;
  margin-bottom: 16px;

  @include mobile {
    font-size: 64px;
  }
}

.heroSubtitle {
  @include body-font;
  font-size: 16px;
  font-weight: 500;
  color: $black;
}

.projects {
  padding-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.container {
  @include container;
}

.ctaBanner {
  background: $blue;
  border-radius: 40px;
  margin: 80px 20px;
  padding: 80px 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    margin: 40px 20px;
    padding: 40px 24px;
    border-radius: 32px;
  }
}

.ctaLink {
  @include heading-font;
  font-size: 80px;
  color: #e8a020;
  text-decoration: underline dashed;
  text-underline-offset: 6px;
  display: block;
  text-align: center;

  @include mobile {
    font-size: 40px;
  }
}

.moments {
  padding: 100px 0;
}

.momentsLabel {
  @include body-font;
  font-size: 14px;
  font-weight: 700;
  color: hsla(0, 0%, 0%, 0.4);
  margin-bottom: 24px;
  display: block;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.momentsContent {
  margin-left: 200px;
  max-width: 55%;

  @include mobile {
    margin-left: 0;
    max-width: 100%;
  }
}

.momentsText {
  @include body-font;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}

.momentsMore {
  @include body-font;
  font-size: 16px;
  font-weight: 500;
  color: $black;
}
