@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.page {
  background-color: $white;
}

.hero {
  padding-top: 180px;
  padding-bottom: 80px;

  @include mobile {
    padding-top: 120px;
    padding-bottom: 40px;
  }
}

.heroContainer {
  @include container;
}

.heroName {
  @include heading-font;
  font-size: $h1-size;
  line-height: 0.9;
  margin-bottom: 12px;
  color: $black;

  @include mobile {
    font-size: 56px;
  }
}

.heroSubtitle {
  @include body-font;
  font-size: $p4-size;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: hsla(0, 0%, 0%, 0.6);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.container {
  @include container;
}

.ctaBanner {
  background: $peach;
  border-radius: 40px;
  margin: 80px 40px;
  padding: 60px 0;

  @include mobile {
    margin: 40px 20px;
    padding: 40px 0;
  }
}

.ctaLink {
  @include heading-font;
  font-size: $h2-size;
  color: $black;
  position: relative;
  display: inline-block;

  @include mobile {
    font-size: 32px;
  }
}

.ctaUnderline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 3px dotted $black;
}

.moments {
  padding: 80px 0;
}

.momentsLabel {
  @include body-font;
  font-size: $caption-size;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: hsla(0, 0%, 0%, 0.4);
  margin-bottom: 24px;
  display: block;
}

.momentsContent {
  margin-left: 120px;
  max-width: 65%;

  @include mobile {
    margin-left: 0;
    max-width: 100%;
  }
}

.momentsText {
  @include body-font;
  font-size: $p4-size;
  line-height: 1.6;
  font-family: 'Monaco', 'Courier New', monospace;
  margin-bottom: 16px;
}

.momentsMore {
  @include body-font;
  font-size: $p4-size;
  font-weight: 600;
  color: $black;
}
