.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 200px;
    background-color: $white0;
    overflow: hidden;

    @include mobile {
        padding-top: 120px;
    }
}

.footerContainer {
    @include container;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    @include p4;

    a {
        color: $black0;
        text-decoration: none;
        transition: opacity 0.2s;
        &:hover {
            opacity: 0.6;
        }
    }

    @include mobile {
        flex-direction: column;
        gap: 20px;
    }
}

.links {
    display: flex;
    gap: 12px;
    align-items: center;
}

.dot {
    background-color: $yellow400;
    border-radius: 100%;
    width: 4px;
    height: 4px;
}

.blobs {
    display: flex;
    height: 100px;
    overflow: hidden;

    @include mobile {
        height: 42px;
    }
}

.blob {
    flex: 1;
    min-height: 400px;

    &.peach {
        background: $yellow300;
        border-radius: 100px 100px 0 0;

        @include mobile {
            border-radius: 40px 40px 0 0;
        }
    }

    &.blue {
        background: #ADC1F2;
        border-radius: 0;
    }

    &.pink {
        background: $red200;
        border-radius: 999px 999px 0 0;
    }
}
