@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
  padding-top: 80px;
  background-color: $white;
  overflow: hidden;

  @include mobile {
    padding-top: 40px;
  }
}

.container {
  @include container;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  @include body-font;
  font-size: 18px;
  font-weight: 500;
  color: $black;

  a {
    color: $black;
    text-decoration: none;
    transition: opacity 0.2s;
    &:hover { opacity: 0.6; }
  }

  @include mobile {
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
  }
}

.links {
  display: flex;
  gap: 12px;
  align-items: center;
}

.dot {
  color: $salmon;
  font-size: 16px;
}

.blobs {
  display: flex;
  height: 200px;

  @include mobile {
    height: 120px;
  }
}

.blob {
  flex: 1;
  transform: translateY(65%);

  &.peach {
    background: $peach;
    border-radius: 100px 100px 0 0;
  }

  &.blue {
    background: $blue;
    border-radius: 0;
  }

  &.pink {
    background: $pink;
    border-radius: 999px 999px 0 0;
  }
}
